.Guy-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Guy-container {
  display: flex;
  flex-direction: row;
  /* max-width: 61.8%; */
  margin: 20px auto;
  width: 420px;
  /* background: #a1a */
}

.Guy-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 75px;
  margin-right: 20px;
}

.Guy-info {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* background: #1a1 */
}

.Guy-name {
  font-size: 24px;
  font-weight: bolder;
}

.Guy-divider {
  height: 1px;
  background: #eee;
  width: 100%;
  margin: 10px 0;
}

.Guy-title {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 10px
}

.Guy-email {
  font-size: 16px;
  color: #aaa
}

.Guy-social {
  font-size: 32px;
  color: #aaa;
  margin-right: 24px
}

.Guy-social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  /* width: 100%; */
}

@media screen and (max-width: 800px) {

  .Guy-photo {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  
  .Guy-container {
    display: flex;
    flex-direction: column;
    /* max-width: 61.8%; */
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    /* background: #a1a */
    width: auto;
  }

  .Guy-info {
    justify-content: center;
    align-items: center;
    /* background: #1a1 */
  }

  .Guy-social {
    font-size: 32px;
    color: #aaa;
    margin-right: 0;
  }

  .Guy-social-container {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
}