.Tab-container {
  margin: 40px 0px 40px 0px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between

}

.Selected-tab {
  font-size: 48px;
  font-weight: bolder;
}

.Tabs {
  display: flex;
  flex-direction: row;
  flex: 0.75;
  justify-content: space-evenly
}

.Tab {
  font-size: 24px;
  font-weight: bolder;
  color: #aaa;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}


.Tab:hover {
  color: #666;
}

@media screen and (max-width: 800px) {
  .Tab-container {
    margin: 20px 0px 20px 0px;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction:column-reverse;
    justify-content: space-between
  }

  .Tabs {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20px 0;
    width: 100%;
    justify-content: space-evenly
  }
}
