.Carousel-gallery * {
  transition: all 1s;
}

.Carousel-gallery {
  height: 650px;
}

.Carousel-indicators {
  position: relative;
  /* background: red; */
  display: flex;
  justify-content: center;
  /* top: 0; */
}

.Carousel-indicator {
  width: 50px;
  height: 5px;
  background: white; 
  opacity: 0.5;
  border-radius: 3px;
  margin: 36px 0;
  margin-right: 10px;
}

.Carousel-indicator:last-child {
  margin-right: 0;
}


.Carousel-indicator:hover {
  cursor: pointer;
}


.Carousel-indicator.active {
  opacity: 1;
}

.Carousel-details-background {
  min-height: 400px;
  background: white;
  transform: skewY(4deg);
  padding: 70px 0;
  z-index: -1;
}

.Carousel-details {
  /* height: 00px; */
  /* background: green; */
  transform: skewY(-4deg);
  width: 100%;
  margin: auto;
  text-align: left;
  height: 1000px;
  margin-top: -620px
}

.Carousel-details-body {
  /* height: 200px; */
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.Carousel-head-wrapper {
  /* margin-top: -620px; */
  /* margin: 0px auto 50px auto; */
  /* margin: 0 100px; */
  display: block;
  /* flex-direction: row;
  justify-content: space-between; */
  position: absolute;
  left: 19.1%;
  right: auto;
  margin: 0 auto;
  /* height: 670px; */
}

.Carousel-head {
  /* margin-top: -620px; */
  /* margin: 0px auto 50px auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 61.8%; */
  /* height: 670px; */
}

.Carousel-image {
  height: 650px;
  position: absolute;
  right: 19.1%;
  /* min-width: 20px; */
}

.Carousel-head-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between */
}

.Carousel-head-title {
  padding: 100px 0;
}

.Carousel-head-text-download {
  color: white;
  max-height: 60px;
}

.Carousel-head-text-download-alt {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid white;
  margin-left: 10px;
  background: rgba(255,255,255,0.16);
  border-radius: 5px;
  font-weight: bold;
  max-height: 40px;
}

.Carousel-head-text-download-alt-small {
  color: white;
  font-size: 9px;
  font-weight: normal;
}

.Carousel-head-text-download-alt:first-child {
  margin-left: 0;
}



.Carousel-head-text-download-wrapper {
  flex-direction: row;
  display: flex;
}

.Carousel-head-text-download-wrapper a {
  height: 40px;
}

.Carousel-body {
  display: block;
  margin: 670px auto 0 auto;
}

.Carousel-arrows {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Carousel-arrow {
  height: 100%;
  width: 19.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.1;
  align-items: center;
  cursor: pointer;
  z-index: 99999;
  color: white;
  font-size: 56px;
}

.Carousel-arrow:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .Carousel-image {
    height: 250px;
    min-width: calc(100% - 40px);
    position: absolute;
    right: 20px;
    top: 180px;
    /* min-width: 20px; */
    object-fit: contain;
  }

  .Carousel-head-wrapper {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .Carousel-details {
    /* height: 00px; */
    /* background: green; */
    transform: skewY(-4deg);
    width: 100%;
    margin: 0 auto;
    text-align: left;
    height: 700px;
    margin-top: -420px
  }

  .Carousel-gallery {
    height: 450px;
  }

  .Carousel-body {
    display: block;
    margin: 450px auto 0 auto;
  }

  .Carousel-head-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between */
  }

  /* .Carousel-head-text-download-wrapper {
    flex-direction: column;
    display: flex;
  }
  
  .Carousel-head-text-download-alt {
    margin-top: 10px;
    margin-left: 0px;
  }

  .Carousel-head-text-download-alt:first-child {
    margin-top: 0;
  }
 */

 .Carousel-details-background {
  padding: 35px 0;
  min-height: 300px;
}

  .Carousel-head-title {
    padding: 0px 0;
    text-align: center;
  }

  .Carousel-arrows {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .Carousel-arrow {
    height: 100%;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.1;
    align-items: center;
    cursor: pointer;
    z-index: 99999;
    color: white;
    font-size: 32px;
  }

  .Carousel-head {
    /* margin-top: -620px; */
    /* margin: 0px auto 50px auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* height: 670px; */
  }
}