.Tab-container {
  margin: 40px 0px 40px 0px;
  width: 61.8%;
  display: flex;
  align-items: center;
  justify-content: space-between

}

.Selected-tab {
  font-size: 24px;
  font-weight: bolder;
}

.Top-logo-container {
  font-size: 24px;
  font-weight: bolder;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.Top-logo-container svg {
  fill: black
}

.Tabs {
  display: flex;
  flex-direction: row;
  /* flex: 0.5; */
  /* justify-content: space-evenly */
}

.Tab {
  font-size: 24px;
  font-weight: bolder;
  color: #aaa;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  margin-left: 20px;
}


.Tab:hover {
  color: #666;
}

.Logo {
  height: 24px;
  margin-right: 12px;
}

@media screen and (max-width: 800px) {
  .Tab-container {
    margin: 20px 0px 20px 0px;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: space-between
  }

  .Tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0;
    width: 100%;
    justify-content: space-evenly
  }
}
