.Tab-container {
  margin: 40px auto;
  width: 61.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */

}

.Selected-tab {
  font-weight: bolder;
}

.Top-logo-container {
  font-size: 24px;
  font-weight: bolder;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.Top-logo-container:active {
  color: #666;
}

.Top-logo-container:visited {
  color: initial;
}

.Top-logo-container svg {
  fill: black
}

.Tabs {
  display: flex;
  flex-direction: row;
  /* flex: 0.5; */
  /* justify-content: space-evenly */
}

.Tab {
  /* font-size: 24px; */
  font-weight: normal;
  color: #aaa;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  margin-left: 20px;
}

.Tab.active {
  /* font-size: 24px; */
  font-weight: bolder;
  /* color: black;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  margin-left: 20px; */
}



.Tab:hover {
  color: #666;
}

.Logo {
  height: 24px;
  margin-right: 12px;
}

.Tab-chevron {
  transition: ease-in-out 0.5s;
}

.Tab-chevron.Collapsed {
  transform: rotate(180deg);

}

@media screen and (max-width: 800px) {
  .Tab-container {
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    justify-content: space-between;
    transition: ease-in-out 0.2s, height 0.5s;
    /* -webkit-transition: ease-in-out 0.2s;  */
  }

  .Top-logo-container {
    font-size: 21px;
    font-weight: bolder;
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .Logo {
    height: 21px;
    margin-right: 12px;
  }

  .Tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    /* width: 100%; */
    justify-content: flex-start;
    align-items: flex-end;
    transition: ease-in-out 0.2s, height 0.5s;
  }

  .Tab {
    margin: 20px 0 0 0;
    transition: ease-in-out 0.1s;
  }

  .Tab-toggle {
    font-size: 21px;
    font-weight: normal;
    color: #aaa;
    cursor: pointer;
    /* transition: ease-in-out 0.5s; */
    margin-left: 20px;
    /* display: inline; */
    /* display: flex; */
  }
}
