.App {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  z-index: -1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding: 0px 70px 0px 70px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
  height: 100%;
  background: #fff;
  min-height: 1080px
}

.App-slideshow {
z-index: -1;
display: block;
width: calc(100% - 740px);
height: 100%;
position: fixed;
right: 0px;
top: 0px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* @media (width<376px) {

} */
