.Banner-container {
  /* position: fixed; */
  /* right:0px;
  bottom: 0px; */
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
  width: 700px;
  height: 120px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /* z-index: 999; */
}

.Left-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Logo-container {
  width: 88px;
  height: 88px;
  background: #FF952B;
  box-shadow: 0px 0px 10px rgba(222,120,19,0.36);
  justify-content: center;
  align-items: center;
  display: flex;
}

.Text-container {
  margin-left: 20px;
  text-align: left;
}

/* .Title-primary {
  font-size: 48px;
  font-weight: bolder;
  text-align: left;
} */

/* .Title-secondary {
  font-size: 16px;
  text-align: left;
  color: #aaa
} */

.App-download-logo {
  /* width: 88px;
  height: 88px; */
  display: flex;
  flex:1;
  height: 55px;
  fill: white
}

.Download-button {
  padding: 10px 30px;
  background: #000;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.Download-button:hover {
  background: #666666;
  cursor: pointer;
}

.Download-button:active {
  outline: none;
  outline-color: none;
}

.Banner-text-secondary {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .Banner-container {
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    width: calc(100% - 40px);
    height: 120px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
  }
/* 
  .Title-primary {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
  }
  
  .Title-secondary {
    font-size: 12px;
    text-align: left;
    color: #aaa
  } */

  .Download-button {
    padding: 5px 10px;
    background: #000;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .App-download-logo {
    /* width: 88px;
    height: 88px; */
    display: flex;
    flex:1;
    height: 36px;
    fill: white
  }

  .Logo-container {
    width: 55px;
    height: 55px;
    background: #FF952B;
    box-shadow: 0px 0px 10px rgba(222,120,19,0.36);
    justify-content: center;
    align-items: center;
    display: flex;
  }
}